body {
  background-color:brown;
}
header{
    position:absolute;
    top: 0;
    width:100%;
    height:60px;
    background-color: #b97d10;}
section{
    position:absolute;
    top: 150px;
    
}   
h1{text-align: center;
color: whitesmoke;
font-weight: bold;}
ul{color: whitesmoke;
    font-weight: bold;
    align-items: flex-end;
    }
p {
        color: white;
        font-weight: bold;
        font-size: 30px;}
     footer{
        position:absolute;
        bottom:0;
        width:100%;
        height:60px;   /* Height of the footer */
        background-color: #b97d10;
     }